.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.jar
.idea/
*.iml
*.ipr
*.iws
out/
.vscode/
*.class
*.log
.DS_Store
Thumbs.db
desktop.ini
de.fabmax.physx-jni/
de.fabmax.physxjni/
.assets/
.storage/
.httpCache/
kool-demo-cache/
