build/
out/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps/
compile_commands.json
*.o
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.so
*.dylib
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db
desktop.ini
raylib-src/
_raylib/
